<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="Console"
            class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %cyan(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%logger{36}.%M) - %msg%n%throwable
      </Pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="Console" />
  </root>

  <logger name="org.springframework" level="INFO" additivity="false">
    <appender-ref ref="Console" />
  </logger>

  <logger name="gr.edu.flink" level="DEBUG" additivity="false">
    <appender-ref ref="Console" />
  </logger>

  <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG" additivity="false">
    <appender-ref ref="Console" />
  </logger>

</configuration>
